$typography: #868686;
$headerscolor: #44444f;
$subheaderscolor: #65e496;
$whitecolor: #ffffff;
$blackcolor: #9191b5;
$primarytracking: 0.05em;
$secondraytracking: 0.04em;
$safari: "_::-moz-svg-foreign-content, :root";