extends layouts/takeme

block variables
	- var title = "TakeMe"

block content
	.page-main
		.wrapper.-lines
			.nav
				= '\n\t\t\t\t'
				a(href="")._logo
				ul.nav-list
					each val, index in ['Home','About','Contents','Books','Education','Skills','Portfolio','Clients','Contact']
						if index===0
							li
								a(href="")._item.-active= val
						else
							li
								a(href="")._item= val
			.headerbox