/*Tags*/
body {
	font-family: 'Roboto', sans-serif;
	color: $typography;
}
h1, h2, h3, h4, h5, h6, ul, p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
button {
	border:none;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}
}
img {
	vertical-align: bottom;
}
/*General*/
.wrapper {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	&--flex {
		display: flex;
		justify-content: space-between;
	}
}
.btn-primary {
	display: inline-block;
	color: $whitecolor;
	line-height: 1;
	border-radius: 6px;
	border: 1px solid $accentcolor;
	background-color: transparent;
	transition: color 0.3s 0.1s ease-out;
	position: relative;
	overflow: hidden;
	z-index: 0;
	&::before {
		position: absolute;
		top: 0;
		left: -50%;
		bottom: 0;
		margin: auto;
		content:'';
		border-radius: 50%;
		width: calc(200% + 4px);
		transition: box-shadow 0.5s ease-out;
		z-index: -1;
	}
	&:hover {
		color: $accentcolor;
		&::before {
			box-shadow: inset 0 0 $accentcolor;
		}
	}
}
/*headers*/
.headers {
	font-weight: bold;
	font-size: 48px;
	&--white {
		color: $whitecolor;
	}
	&--center {
		text-align: center;
	}
}
/*page-nav*/
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 181px;
	&__logo {
		flex-basis: 137px;
		height: 28px;
		background-image: url(../img/logo.svg);
	}
	&-list {
		flex-basis: 59.31%;
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
		&__item {
			display: inline-block;
			font-size: 16px;
			line-height: 1.75;
			color: $whitecolor;
			transition: box-shadow 0.2s;
			&:hover, &:focus, &--active {
				box-shadow: 0 3px #65e496;
			}
		}
	}
	&__btn-mobile {
		padding: 0;
		background-color: transparent;
		display: none;
		width: 28px;
		height: 28px;
		background-image: url(../img/menu.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	&-list-mobile {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		background-color: #426384;
		background-image: linear-gradient(-60deg, #54b7a1 0%, #426384 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b7a1', endColorstr='#426384', GradientType=1);
		li {
			margin-bottom: 10px;
		}
		&__btn-close {
			position: absolute;
			top: 51px;
			right: 17px;
			padding: 0;
			background-color: transparent;
			width: 25px;
			height: 25px;
			background-image: url(../img/cross.svg);
			background-repeat: no-repeat;
			background-size: cover;
			vertical-align: bottom;
		}
	}
}
/*page-main*/
.search {
	&__btn {
		padding: 16px 60px 16px 61px;
		&::before {
			height: 344.25px;
			box-shadow: inset 0 0 0 172.125px $accentcolor;
		}
	}
}
/*page-santorini*/
.santorini-desc {
	flex-basis: 600px;
	&__btn {
		padding: 16px 109px;
		&::before {
			height: 545.5px;
			box-shadow: inset 0 0 0 272.75px $accentcolor;
		}
	}
}
.santorini-slider {
	flex-basis: calc(100% - 600px);
}
/*page-sub*/
.sub-btn {
	padding: 16px 100px;
	&::before {
		height: 545.344px;
		box-shadow: inset 0 0 0 272.672px $accentcolor;
	}
}
/*page-form*/
.contact {
	&__btn {
		padding: 16px 117px 16px 118px;
		&::before {
			height: 545.66px;
			box-shadow: inset 0 0 0 272.828px $accentcolor;
		}
	}
}
/*page-testimonials*/
.reviews_btn {
	padding: 13px 47px 14px 47px;
	&::before {
		height: 344.532px;
		box-shadow: inset 0 0 0 172.266px $accentcolor;
	}
}
/*page-kit*/
.card {
	&-footer {
		&__btn {
			padding: 13px 49px 14px 49px;
			&::before{
				height: 345.688px;
				box-shadow: inset 0 0 0 172.844px $accentcolor;
			}
		}
	}
}
/*page-app*/
.app-load {
	&__btn {
		padding: 16px 81px 16px 82px;
		&::before {
			height: 545.438px;
			box-shadow: inset 0 0 0 272.719px $accentcolor;
		}
	}
}
/*page-links*/
.social {
	&-sub {
		&__btn {
			padding: 13px 50px 14px 50px;
			&::before{
				height: 345.344px;
				box-shadow: inset 0 0 0 172.672px $accentcolor;
			}
		}
	}
}
/*pages*/
.page-main {
	background-image: url(../img/header/h_bg1.jpg);
	@extend %for-backgrounds;
}
.page-video {
	background-image: url(../img/dubai_bg.jpg);
	@extend %for-backgrounds;
}